<br><br><br><br>
<div id="fb-root"></div>
<script type = "text/javascript" src="./assets/js/map_functions.js"></script>
<script>

(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

brews = {{{brewerys}}};
bars = {{{rendezvous}}};
beers = {{{beers}}};
var all_markers = [];
var map;
var infowindow;

</script>

<div class="row">
    <div id="map" class="col-md-6 col-sm-12" style="height: 530px;"></div>
    <div id="info" class="col-md-5 col-md-offset-1 col-sm-12 text-center jumbotron" style="height: 530px;" >
        <div id="head_info" style="margin-top:-7%"><h2>Informaci贸n</h2></div>
        <div id="info_name"><h4>Nombre</h4> BC Beermap </div>
        <div id="logo" style="height:130px"><h4>Logo</h4><img style="height: 100px; width: auto;" src="../assets/img/bcbeermap.png"></div>
        <div id="info_contacto" style="height: 120px">
            <h4>Contacto</h4> 
            <strong>Correo:</strong>contacto@bcbeermap.com<br>
            <strong>Tel: </strong> (686)196-3552<br>
            <strong>Facebook:</strong> <a href="http://www.facebook.com/bcbeermap" target="_blank">www.facebook.com/bcbeermap</a>
                <br>
            <div class="fb-like" data-href="http://www.facebook.com/bcbeermap" data-width="300" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>

    </div>
    <h4> Buscar en el Mapa </h4>
         <input type="input" id="search"  style="text-transform: lowercase;">
         <input type="button" id="clear" value="clear">
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h5> 
            Con 1 click en el icono pueden desplegar la informaci贸n, con 2 clicks en un icono y acceptando el que se use su locaci贸n se trazara la ruta para llegar al lugar desde donde esten. en el buscador usar las palabras 'cheves', 'bares' o 'cervecerias' le desplegara toda informaci贸n sobre lo que busca.

        </h5>
        <br><br>
        <div id="info_cervezas"></div>
    </div>
</div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtiIDqGxs79px1ximdYXxXUKZHkqm9WH8&callback=initMap"
    async defer></script>