<br><br><br><br>
<div id="fb-root"></div>
<script type = "text/javascript" src="./assets/js/map_functions.js"></script>
<script>

(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

brews = {{{brewerys}}};
bars = {{{rendezvous}}};
beers = {{{beers}}};
var all_markers = [];
var map;
var infowindow;

</script>

<div class="row">
    <div id="map" class="col-md-6 col-sm-12" style="height: 530px;"></div>
    <div id="info" class="col-md-5 col-md-offset-1 col-sm-12 text-center jumbotron" style="height: 530px;" >
        <div id="head_info" style="margin-top:-7%"><h2>Información</h2></div>
        <div id="info_name"><h4>Nombre</h4> BC Beermap </div>
        <div id="logo" style="height:130px"><h4>Logo</h4><img style="height: 100px; width: auto;" src="../assets/img/bcbeermap.png"></div>
        <div id="info_contacto" style="height: 120px">
            <h4>Contacto</h4> 
            <strong>Correo:</strong>contacto@bcbeermap.com<br>
            <strong>Tel: </strong> (686)196-3552<br>
            <strong>Facebook:</strong> <a href="http://www.facebook.com/bcbeermap" target="_blank">www.facebook.com/bcbeermap</a>
                <br>
            <div class="fb-like" data-href="http://www.facebook.com/bcbeermap" data-width="300" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>

    </div>
    <h4> Buscar en el Mapa </h4>
         <input type="input" id="search" oninput="searchMarker(brews, bars, beers, all_markers, infowindow)" style="text-transform: lowercase;">
         <input type="button" value="clear" onclick="clearSearch(all_markers, map)" >
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h4> Instrucciones </h4> <h5> 1 Click = Info -- 2 Clicks = Como llegar (Camino) </h5>
        <br><br>
        <div id="info_cervezas"></div>
    </div>
</div>


    <script>
    var i = 0;
    function initMap() {
        
        var myLatLng = {
            lat: 32.624535,
            lng: -115.452180
        };

        var map = new google.maps.Map(document.getElementById('map'), {
            center: {
                lat: 32.624535,
                lng: -115.452180
            },
            scrollwheel: true,
            zoom: 12
        });

        var directionsDisplay = new google.maps.DirectionsRenderer({
            map: map
        });

        var infowindow = new google.maps.InfoWindow();

        brews.forEach(function(brew) {
            if (brew.geo !== "" && brew.geo !== null) {
                var contentString = "<strong>" + brew.name + " </strong>";

                brew.geo = brew.geo.replace('lon', 'lng');
                var marker = new google.maps.Marker({
                    map: map,
                    position: JSON.parse(brew.geo),
                    title: brew.name
                });
                all_markers.push(marker);
                bindInfoWindow(marker, map, infowindow, contentString, brew, "", "brews");
                routeToPlace(marker, directionsDisplay);

            } // if bar geo
        }); //forEach

        bars.forEach(function(bar) {
            if (bar.geo !== "" && bar.geo !== "{}" && bar.geo !== null) {
                var contentString = "<strong>Lugar: </strong>" + bar.name;

                infowindow.setContent(contentString);
                bar.geo = bar.geo.replace('lon', 'lng');
                var marker = new google.maps.Marker({
                    map: map,
                    icon: 'https://maps.google.com/mapfiles/ms/icons/blue-dot.png',
                    position: JSON.parse(bar.geo),
                    title: bar.name
                });
                all_markers.push(marker);
                if (typeof bar.beers[0] === 'undefined') {
                    marker.setZIndex(-10);
                }

                bindInfoWindow(marker, map, infowindow, contentString, "", bar, "bar");
                routeToPlace(marker, directionsDisplay);

            } // if bar geo
        }); //forEach
    } //initMap

   

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtiIDqGxs79px1ximdYXxXUKZHkqm9WH8&callback=initMap"
    async defer></script>