<br><br><br><br>
<div id="map" class="col-md-12" style="height: 500px"></div>
<div id="brewerys" class="hidden">  {{brewerys}} </div>
<div id="rendezvous" class="hidden">  {{rendezvous}} </div>
<h2> 1 Click = Info -- 2 Clicks = Como llegar (Camino)</h2>

    <script>
    var i = 0;
    brews = $('#brewerys').html();
    brews = JSON.parse(brews);
    bars = $('#rendezvous').html();
    bars = JSON.parse(bars);

    function initMap() {
        var myLatLng = {lat: 32.624535, lng: -115.452180};

        var map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 32.624535, lng: -115.452180}, 
            scrollwheel: true,
            zoom: 12
        });

        var directionsDisplay = new google.maps.DirectionsRenderer({
            map: map
        });
        
        var infowindow = new google.maps.InfoWindow();
       
        function bindInfoWindow(marker, map, infowindow, html) {
            marker.addListener('click', function() {
                infowindow.setContent(html);
                infowindow.open(map, this);
            });
        } 

        function routeToPlace(marker){
            marker.addListener('dblclick', function(e){
                        navigator.geolocation.getCurrentPosition(function(position) {
                            var geolocate = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
                            var request = {
                                destination: e.latLng,
                                origin: geolocate,
                                travelMode: google.maps.TravelMode.DRIVING
                            };

                            var directionsService = new google.maps.DirectionsService();
                            directionsService.route(request, function(response, status) {
                                if (status == google.maps.DirectionsStatus.OK) {
                                  // Display the route on the map.
                                    directionsDisplay.setDirections(response);
                                }
                            });
                    })

                    });//marker.addlistener
        }

        brews.forEach(function (brew){  
            if(brew.geo !== "" && brew.geo !==  null){
                    var contentString = "<strong>Cerveceria: </strong>" + brew.name + "<br><strong>Direccion: </strong>" + brew.dir;

                   infowindow.setContent(contentString);


                    brew.geo = brew.geo.replace('lon', 'lng');
                    var marker = new google.maps.Marker({
                        map: map,
                        position: JSON.parse(brew.geo),
                        title: brew.name
                    });

                    bindInfoWindow(marker, map, infowindow, contentString); 

                    routeToPlace(marker);

                }// if bar geo

            });//forEach

            bars.forEach(function (bar){ 
            if(bar.geo !== "" && bar.geo !==  "{}" && bar.geo !== null){
                var contentString = "<strong>Lugar: </strong>" +  bar.name;

                infowindow.setContent(contentString);


                    bar.geo = bar.geo.replace('lon', 'lng');
                    var marker = new google.maps.Marker({
                        map: map,
                        icon: 'https://maps.google.com/mapfiles/ms/icons/blue-dot.png',
                        position: JSON.parse(bar.geo),
                        title: bar.name
                    });

                   bindInfoWindow(marker, map, infowindow, contentString); 

                   routeToPlace(marker);

                }// if bar geo

            });//forEach

        
    } //initMap

    

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtiIDqGxs79px1ximdYXxXUKZHkqm9WH8&callback=initMap"
    async defer></script>